---
import Layout from '../layouts/Layout.astro';
---

<Layout title='Welcome to Astro.'>
	<main>
		<h2 class='font-semibold'>MónicaVO</h2>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		max-width: calc(100% - 2rem);
		font-size: 24px;
		line-height: 1.6;
	}
</style>
