---
import { Image } from 'astro:assets';
import ContactForm from './client/ContactForm';
import { useTranslations } from '../i18n/utils';
import type { languages } from '../i18n/ui';

const currentLang = Astro.currentLocale || 'es';

const translateLabels = useTranslations(currentLang as keyof typeof languages);

const title = translateLabels('contact.title');
const description = translateLabels('contact.description');
---

<section class='w-full flex flex-col items-center gap-4 mt-4 px-8'>
	<h3>
		<span class='border-b-4 border-[#040404]'>{title}</span>
	</h3>
	<p class='w-[90%]'>
		{description}
	</p>
	<ContactForm client:load currentLang={currentLang} />
	<div class='w-full border border-t-stone-400 my-4'></div>
	<a href='tel:+15126509087' class='block text-sm'>
		<span class='font-semibold'
			>{currentLang === 'es' ? 'Teléfono' : 'Phone'}:</span
		> +34 664 41 19 17
	</a>
	<a href='mailto:monica@monicajuvaror.com' class='block text-sm'
		><span class='font-semibold'>Email:</span> monica@monicajuvaror.com</a
	>
	<div class='flex h-5 text-sm'>
		<Image
			class='h-full'
			src='/icons/location-pin.svg'
			width='20'
			height='20'
			loading='lazy'
			alt='Instagram icon'
		/>

		<span>Almería, España</span>
	</div>
	<a
		class='relative block w-9 h-9'
		href='https://www.instagram.com/monicajuvaror/'
		target='_blank'
		rel='noopener noreferrer'
		aria-label='Link to Instagram'
	>
		<Image
			class='absolute inset-0 w-full h-full transition-opacity duration-300 opacity-100 hover:opacity-0'
			src='/icons/instagram-bw.svg'
			width='36'
			height='36'
			loading='eager'
			alt='Instagram icon'
		/>
		<Image
			src='/icons/instagram-color.svg'
			width='36'
			height='36'
			loading='eager'
			alt='Instagram icon'
			class='absolute inset-0 w-full h-full transition-opacity duration-300 opacity-0 hover:opacity-100'
		/>
	</a>
</section>
