---
import { Image } from 'astro:assets';
import ContactForm from './client/ContactForm';
---

<section class='w-full flex flex-col items-center gap-4 mt-4 px-8'>
	<h3>
		<span class='border-b border-b-4 border-[#040404]'> Contact </span>
	</h3>
	<p class='w-[90%]'>
		If you would like me to work on your photography project, please fill out
		the contact form below and I will get back to you as soon as possible:
	</p>
	<ContactForm client:load />
	<div class='w-full border border-t-stone-400 my-4'></div>
	<a href='tel:+15126509087' class='block text-sm'>
		<span class='font-semibold'>Phone:</span> +1 (512) 650-9087
	</a>
	<a href='mailto:monica@monicajuvaror.com' class='block text-sm'
		><span class='font-semibold'>Email:</span> monica@monicajuvaror.com</a
	>
	<div class='flex h-5 text-sm'>
		<Image
			class='h-full'
			src='/icons/location-pin.svg'
			width='20'
			height='20'
			loading='lazy'
			alt='Instagram icon'
		/>

		<span>Dallas, Texas - USA</span>
	</div>
	<a
		class='relative block w-9 h-9'
		href='https://www.instagram.com/monicajuvaror/'
		target='_blank'
		rel='noopener noreferrer'
	>
		<Image
			class='absolute inset-0 w-full h-full transition-opacity duration-300 opacity-100 hover:opacity-0'
			src='/icons/instagram-bw.svg'
			width='36'
			height='36'
			loading='eager'
			alt='Instagram icon'
		/>
		<Image
			src='/icons/instagram-color.svg'
			width='36'
			height='36'
			loading='eager'
			alt='Instagram icon'
			class='absolute inset-0 w-full h-full transition-opacity duration-300 opacity-0 hover:opacity-100'
		/>
	</a>
</section>
