---
import { Image } from 'astro:assets';
---

<section class='h-[500px]'>
	<Image
		class='w-full h-full cover object-cover'
		src='/hero-img.jpg'
		width='2000'
		height='1393'
		loading='eager'
		alt='Hero wallpaper'
	/>
</section>
