---
import { Image } from 'astro:assets';
---

<section class='h-[700px]'>
	<Image
		class='w-full h-full object-cover'
		src='https://res.cloudinary.com/chrod90/image/upload/v1720639034/monicavo-portfolio/moni-session/Moni_Flores_A2_iqpmlm.jpg'
		inferSize={true}
		loading='eager'
		alt='Hero wallpaper'
	/>
</section>
