---
import { Image } from 'astro:assets';
---

<section class='h-[700px]'>
	<Image
		class='w-full h-full object-cover'
		src={import.meta.env.PUBLIC_HERO_IMAGE}
		inferSize={true}
		loading='eager'
		alt='Hero wallpaper'
	/>
</section>
