---
import { Image } from 'astro:assets';
---

<section class='h-[700px]'>
	<Image
		class='w-full h-full cover object-cover'
		src='https://res.cloudinary.com/chrod90/image/upload/v1719945545/monicavo-portfolio/hero-img_tpufjv.jpg'
		width='2000'
		height='1393'
		loading='eager'
		alt='Hero wallpaper'
	/>
</section>
