---
import { Image } from 'astro:assets';
---

<section class='h-[700px]'>
	<Image
		class='w-full h-full object-cover'
		src='https://res.cloudinary.com/chrod90/image/upload/v1720127883/monicavo-portfolio/hero-img_e8i6da.jpg'
		inferSize={true}
		loading='eager'
		alt='Hero wallpaper'
	/>
</section>
