---
import { Image } from 'astro:assets';
import { getRelativeLocaleUrl } from 'astro:i18n';

const { lang } = Astro.params;
---

<a href={getRelativeLocaleUrl(lang as string, '/')} aria-label='Go Home'>
	<Image
		class='max-[500px]:max-w-[120px]'
		src='/monicavo-logo.png'
		width='162'
		height='100'
		loading='eager'
		alt='Logo Mónica Juvaror'
	/>
</a>
