---
import { Image } from 'astro:assets';
---

<a href='/' aria-label='Go Home'>
	<Image
		class='max-[500px]:max-w-[120px]'
		src='/monicavo-logo.png'
		width='162'
		height='100'
		loading='eager'
		alt='Logo Mónica Juvaror'
	/>
</a>
