---
import ToggleNavMenu from './client/ToggleNavMenu';
import NavLinks from './client/NavLinks';
import Drawer from './client/Drawer';
import Logo from './Logo.astro';
---

<header class='fixed top-0 left-0 w-full z-10'>
	<nav
		class='h-[140px] max-w-5xl mx-auto flex justify-between items-center px-6'
	>
		<Logo />
		<div class='flex max-md:flex-col gap-x-8 gap-y-4'>
			<ToggleNavMenu client:load />
			<NavLinks
				className='flex max-md:flex-col gap-y-2 gap-x-8 max-md:hidden'
			/>
			<span
				class='relative inline-block cursor-pointer group border border-2 border-stone-950 px-4 text-center rounded'
			>
				<span class='invisible font-bold block'>CONTACT</span>
				<span
					class='absolute inset-0 font-semibold group-hover:font-bold transition-all duration-200 block'
					>CONTACT</span
				>
			</span>
		</div>
	</nav>
	<Drawer client:load>
		<Logo />
	</Drawer>
</header>
