---
import Logo from './Logo.astro';
import ToggleNavMenu from './client/ToggleNavMenu';
import NavLinks from './client/NavLinks';
import ToggleContact from './client/ToggleContact';
import DrawerNavMenu from './client/DrawerNavMenu';
import DrawerContact from './client/DrawerContact';
import Contact from './Contact.astro';
import { useTranslations } from '../i18n/utils';
import type { languages } from '../i18n/ui';
import ToggleLang from './ToggleLang.astro';
import { getRelativeLocaleUrl } from 'astro:i18n';

const currentLang = Astro.currentLocale || 'es';

const translateLabels = useTranslations(currentLang as keyof typeof languages);

const linkLabels = translateLabels('navbar.linkLabels');
const btnLabel = translateLabels('navbar.btnLabel');
---

<header class='fixed top-0 left-0 w-full z-10'>
	<nav
		class='h-[140px] max-w-5xl mx-auto flex justify-between items-center px-6'
	>
		<Logo />
		<div class='flex max-md:flex-col gap-x-8 gap-y-4'>
			<ToggleNavMenu client:load />
			<NavLinks
				className='flex max-md:flex-col gap-y-2 gap-x-8 max-md:hidden'
				linkLabels={linkLabels as string[]}
				currentLang={currentLang}
				getRelativeLocaleUrl={getRelativeLocaleUrl}
			/>
			<ToggleContact client:load btnLabel={btnLabel as string} />
			<ToggleLang />
		</div>
	</nav>
	<DrawerNavMenu client:load>
		<Logo />
		<NavLinks
			className='flex flex-col gap-8 mt-12'
			linkLabels={linkLabels as string[]}
			currentLang={currentLang}
			getRelativeLocaleUrl={getRelativeLocaleUrl}
		/>
	</DrawerNavMenu>
	<DrawerContact client:load>
		<Logo />
		<Contact />
	</DrawerContact>
</header>
