---
import { Image } from 'astro:assets';
import PortfolioLayout from '../../../layouts/PortfolioLayout.astro';
import data from '../../../data/retouch.json';
---

<PortfolioLayout title='MÓNICA JUVAROR - Portfolio Retouch' slug='retouch'>
	{
		data.map(item => (
			<a
				href={`/portfolio/retouch/${item.slug}`}
				class='hover imgContainer w-full md:w-1/2 lg:w-1/4 p-1 cursor-pointer'
				transition:animate='slide'
			>
				<Image
					class='w-full object-cover'
					id='dynamicLoading'
					src={item.cover}
					inferSize={true}
					alt={item.slug}
				/>
			</a>
		))
	}
</PortfolioLayout>

<style lang='scss'>
	.hover.imgContainer img {
		-webkit-filter: grayscale(0);
		filter: grayscale(0);
	}
	.hover.imgContainer:hover img {
		-webkit-filter: grayscale(100%);
		filter: grayscale(100%);
		-webkit-transition: 0.3s ease-in-out;
		transition: 0.3s ease-in-out;
	}
</style>

<script src='/src/utils/dynamicLoading.ts'></script>
