---
import Navbar from '../components/Navbar.astro';
import Footer from '../components/Footer.astro';
import '@fontsource-variable/eb-garamond';
import '@fontsource-variable/montserrat';
import { ClientRouter } from 'astro:transitions';

const currentLang = Astro.currentLocale || 'es';

interface Props {
	title: string;
	description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang={currentLang}>
	<head>
		<meta charset='UTF-8' />
		<meta name='description' content={description} />
		<meta name='viewport' content='width=device-width' />
		<link rel='icon' type='image/svg+xml' href='/favicon.png' />
		<meta name='generator' content={Astro.generator} />
		<title>{title}</title>
		<ClientRouter />
	</head>
	<body class='bg-stone-100'>
		<Navbar />
		<main>
			<slot />
		</main>
		<Footer />

		<style is:global>
			* {
				box-sizing: border-box;
				margin: 0;
				padding: 0;
			}
			html {
				font-family: 'Montserrat Variable', system-ui, sans-serif;
				color: #040404;
				font-size: 14px;

				@media (min-width: 500px) {
					font-size: 16px;
				}
			}

			main {
				min-height: 100vh;
				margin: auto;
				line-height: 1.6;
			}
			h1,
			h2,
			h3 {
				font-family: 'EB Garamond Variable', serif;
			}
			h1 {
				font-size: 70px;
			}
			h2 {
				font-size: 50px;
			}

			h3 {
				font-size: 40px;
			}

			input,
			textarea {
				font-family: 'Montserrat Variable', system-ui, sans-serif;
			}
		</style>
	</body>
</html>
