---
import { Image } from 'astro:assets';
import PortfolioLayout from '../../layouts/PortfolioLayout.astro';
import data from '../../../data.json';
---

<PortfolioLayout title='MÓNICA JUVAROR - Portfolio Sessions' slug='sessions'>
	{
		data.map(item => (
			<div class='hover imgContainer w-full md:w-1/2 lg:w-1/4 p-1 cursor-pointer'>
				<Image
					class='w-full object-cover'
					src={item.url}
					width='2000'
					height='1393'
					loading='eager'
					alt={item.slug}
				/>
			</div>
		))
	}
</PortfolioLayout>

<style lang='scss'>
	.hover.imgContainer img {
		-webkit-filter: grayscale(100%);
		filter: grayscale(100%);
		-webkit-transition: 0.3s ease-in-out;
		transition: 0.3s ease-in-out;
	}
	.hover.imgContainer:hover img {
		-webkit-filter: grayscale(0);
		filter: grayscale(0);
	}
</style>
